
.stockitem{
    margin: 5px;
    background-color: azure;    
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.stockitem-name-text{
    
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    color: var(--label-color);
    font-weight: var(--label-font-weight);

}
.stockitem-props{
    font-size: 12px;
}



.stockitem-edite-icon{
    display: block;
    height: 20px;
    width: auto;
    position: relative;
    margin-left:150px;
    margin-top: -13px;
    opacity: 0.7;
}
    

.stock-item-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stockitem-name,
.stockitem-catergory,
.stockitem-qty,
.stockitem-takingprice,
.stockitem-sellingprice,
.stockitem-batchno,
.stockitem-expdate,
.stockitem-location

{
    font-size: 12px;
}

.stockitem-name{
    font-weight: 700;
    font-size: 15px;
}