
.item-container_{
    background-color: aliceblue;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

.item-image{
    
}
.item-img{
     height: 80px;
}

.item-info{
    height: 90px;
    width: 90%;
    margin-top: -7px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.item_name{
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    height: 20px;
   
    overflow: hidden;
    text-align: center;
    
}
.item-price{
    margin-top: 0px;
    font-size: 9px;
    font-weight: 400;
}
.item-available{
    margin-top: -6px;
    font-size: 8px;
    font-family: 'Roboto', sans-serif;

}