
.footer{
    height: 40px;
    width: 100%;
    background-color: aliceblue;
    position: fixed;
    z-index: 2;
    bottom: 0%;
    border: 1px solid black;
}
.footer-text{
    color: black;
    text-align: center;
    font-size: 12px;
}