
.category{
    margin: 5px;
    background-color: azure;
    
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.category-icon{
    height: 30%;
    margin-bottom: 10px;
}
.curry-icon-img{
    height: 180%;
}

.category-name{
    height: 20%;
    margin-top: 10%;

}
.category-name-text{
    font-size: 7.5px;
    font-family: 'Open Sans', sans-serif;

}

.category-availability{
    text-align: center;
    font-weight: 500;
}
.category-availability-text{
    font-size: 7px;
    font-family: 'Roboto', sans-serif;
}

.catergorysetting-edite-icon{
    
    display: block;
    height: 20px;
    width: auto;
    position: absolute;
    margin-left: 15px;
    margin-top: -10px;
    
    

}