body{
    background-color: var(--background-color);
}

.app{
    margin: 0px 0px 60px 180px;
}
/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=YourChosenFont&display=swap');

:root {
    --primary-color: #ffffff;         
    --secondary-color: #c9c9c9;      
    --accent-color: #ff9800;         
    --text-color: #000000;           
    --background-color: #000000;      
    --link-color: #007bff;           

    --header-title-font-family:'Roboto', sans-serif;
    --header-title-font-color:#ffffff;
    --header-title-font-size:23px;
    --header-title-font-weight:700;    


    --container-color:rgba(50, 50, 50, 0.738);
    --container-border-raidius:0px;
    --container-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --container-backdrop-filter:blur(9.7px);

    
    --label-color: #060606;
    --label-font-size: 9px;
    --label-spacing: 5px;
    --label-font-family:'Roboto', sans-serif;
    --label-font-weight:600;

    --input-label-color: #ffffff;
    --input-label-font-size: 14px;
    --input-label-spacing: 5px;
    --label-font-family:'Roboto', sans-serif;
    --input-label-font-weight:600;
  }

/* Track */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track background */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }