.setting-item-parent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px;
    height: 90vh;
    }
    
    .setting-item-div1 { 
        grid-area: 1 / 1 / 6 / 4;
        background-color: aliceblue;
        background:var(--container-color);
        border-radius: var(--container-border-raidius);
        box-shadow: var(--container-box-shadow);
        backdrop-filter: var(--container-backdrop-filter);
        
     }
    .setting-item-div2 { 
        grid-area: 1 / 4 / 6 / 6;
       background-color: aqua;
       background:var(--container-color);
        border-radius: var(--container-border-raidius);
        box-shadow: var(--container-box-shadow);
        backdrop-filter: var(--container-backdrop-filter);
        display: flex;
 
        flex-direction: column;
        align-items: center;
}

.setting-item-view-title, .setting-item-add-title{
    text-align: center;
    color: var(--header-title-font-color);
    font-family: var(--header-title-font-family);
    font-size: var(--header-title-font-size);
    font-weight: var(--header-title-font-weight);
}
.setting-item-search-div{
    display: flex;
    justify-content: center;
    margin: 1px auto 35px auto;
}
.setting-item-view-search{
    position: fixed;
   text-align: center;
   width: 180px;
   height: 25px;
   border: 1px ;
   border-radius: 16px;
}
.setting-item-view-sub{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 70vh;
    
}


.setting-item-add-input-div{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    
}

.setting-item-add-label{
    color: var(--input-label-color);
    font-family: var(--input-label-font-family);
    font-size: var(--input-label-font-size);
    font-weight: var(--input-label-font-weight);
}

.setting-item-add-input{
    width: 250px;
  height: 25px;
}

.setting-item-file-input{
    margin-top: 0px;
        margin-left: 295px;

        position: absolute;
        opacity: 0;
        width: 23%;
        height: 17%;
        cursor: pointer;
        border: none;
}
.setting-item-add-image-preview{
    height: 150px;
    width: 150px;
    margin-top: 0px;
    margin-left: 30px;
    background-color: rgb(155, 155, 155);
    border: none;
}
.setting-item-add-image-preview-img{
    height: 100%;
    width: 100%;
}