.setting-item-parent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 20px;
    height: 90vh;
    }
    
    .setting-item-div1 { 
        grid-area: 1 / 1 / 6 / 4;
        background-color: aliceblue;
        background:var(--container-color);
        border-radius: var(--container-border-raidius);
        box-shadow: var(--container-box-shadow);
        backdrop-filter: var(--container-backdrop-filter);
        
     }
    .setting-item-div2 { 
        grid-area: 1 / 4 / 6 / 6;
       background-color: aqua;
       background:var(--container-color);
        border-radius: var(--container-border-raidius);
        box-shadow: var(--container-box-shadow);
        backdrop-filter: var(--container-backdrop-filter);
        display: flex;
 
        flex-direction: column;
        align-items: center;
}

.setting-item-view-title, .setting-item-add-title{
    text-align: center;
    color: var(--header-title-font-color);
    font-family: var(--header-title-font-family);
    font-size: var(--header-title-font-size);
    font-weight: var(--header-title-font-weight);
}
.setting-item-search-div{
    display: flex;
    justify-content: center;
    margin: 1px auto 35px auto;
}
.setting-item-view-search{
    position: fixed;
   text-align: center;
   width: 180px;
   height: 25px;
   border: 1px ;
   border-radius: 16px;
}
.setting-item-view-sub{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 70vh;
    
}


.setting-item-add-input-div{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.setting-item-add-label{
    color: var(--input-label-color);
    font-family: var(--input-label-font-family);
    font-size: var(--input-label-font-size);
    font-weight: var(--input-label-font-weight);
}